.navbar{
    height: 55px;
    background: linear-gradient(135deg, #FF690F 0%, #E63820 100%)!important;
    justify-content: flex-start;
}
@media (max-width: 768px) {
    .navbar-brand {
        display: none;
    }
}