<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <a class="navbar-brand text-white">Restaurant Finder</a>
    <a class="nav-link text-white" [routerLinkActive]="'text-dark'" [routerLinkActiveOptions]="{exact: true}" routerLink="">Home</a>
    <a class="nav-link text-white" [routerLinkActive]="'text-dark'" routerLink="restaurant-list">Search</a>
</nav>