.search-form {
    margin-top: 15px;
    .search-input {
        border-radius: 0;
        padding: 6px 15px;
        border: none;
    }
    .btn-search{
        padding: 6px 15px;
        border-radius: 0;
        background-color: #FF690F;
        color: #fff;
    }
}