<form class="search-form" (ngSubmit)="onSubmit(search.value)" #searchForm="ngForm" autocomplete="off">
  <div class="container">
    <div class="row d-flex justify-content-start flex-row ">
      <input type="text" name="search" class="search-input flex-grow-1 " #search placeholder="Search by restaurant or food name"
        required>
      <button type="submit" [disabled]="!searchForm.form.valid" class="btn btn-search ">Search</button>
    </div>
  </div>
</form>