.restaurant-details{
    padding-top: 10px;
}
.restaurant-info{
    color: #737882;
    border:1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    &:hover {
        -webkit-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
        transform: translateY(-2px);
        -webkit-box-shadow: 0px 3px 40px 0 rgba(39, 39, 39, 0.3);
        box-shadow: 0px 3px 40px 0 rgba(39, 39, 39, 0.3);
    }
    .restaurant-rating {
        display: inline-block;
        text-align: center;
        font-size: 25px;
        color: #fff;
        padding: 14px;
        border-radius: 50%; 
        sup{
            bottom: 5px;
            font-size: 10px;
            font-weight: 500;
            left: 4px;
            position: relative;
        }
    }  
    .restaurant-image{
        max-width: 250px;
        max-height: 200px;
    }  
    
}
@media (max-width: 576px) {
    .restaurant-image{
        max-width: 150px;
    }
}
@media (max-width: 768px) {
    .map{
        padding-top: 0!important;
    }
}