<div class="restaurant-details" *ngIf="selectedRestaurant; else noRestaurantFound">
  <div class="row d-flex justify-content-center m-3">
    <div class="col-sm-8 text-center">
      <h4>{{selectedRestaurant.name}} will be the perfect place for today's outing!</h4>
    </div>
  </div>
  <div class="row bg-white restaurant-info ">
    <div class="col-md-7">
      <div class="mb-md-0 p-4 d-flex flex-column">
        <div class="d-flex flex-row  mb-3 justify-content-start">
          <div class="p-2 ">
            <img class="img-thumbnail" [style.background]="'#'+selectedRestaurant.ratingColor" [src]="selectedRestaurant.categoryIcon"
              alt="featured image">
          </div>
          <div class="p-2  d-flex flex-column flex-grow-1">
            <h4 class="restaurant-name text-dark">{{selectedRestaurant.name}}</h4>
            <div class="restaurant-category">
              <i class="fa fa-cutlery text-dark"></i> {{selectedRestaurant.categoryName}} 
              <i class="fa fa-usd text-dark"></i> {{selectedRestaurant.price}}
            </div>
            <div class="restaurant-likes">
              {{selectedRestaurant.likes}} people <i class="fa fa-heart text-danger"></i> this place
            </div>
          </div>
          <div class="p-2 d-flex flex-column">
            <div class="rating-wrapper text-center">
              <span class="restaurant-rating" [style.background]="'#'+selectedRestaurant.ratingColor">
                <span>{{selectedRestaurant.rating}}</span><sup>/10</sup>
              </span>
            </div>
            <div>{{selectedRestaurant.ratingBy}} ratings</div>
          </div>
        </div>
        <div class="d-flex flex-row mb-3 justify-content-start">
            <div class="p-2 ">
                <img class="img-fluid img-thumbnail restaurant-image" [src]="selectedRestaurant.imageUrl" alt="featured image">
            </div>
            <div class="p-2 d-flex flex-column">
                <div class="d-flex flex-row">
                    <div><i class="fa fa-comment text-dark"></i></div>
                    <div class="pl-2">{{selectedRestaurant.reviews}} reviews</div>                    
                </div> 
                <div class="d-flex flex-row">
                    <div><i class="fa fa-map-marker text-dark"></i></div>
                    <div class="pl-3" [innerHtml]="selectedRestaurant.address"></div>                    
                </div>  
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="map mb-4 mb-md-0 p-4 d-flex flex-column">
        <agm-map [style.height.px]="350" [latitude]="selectedRestaurant.latitude" [longitude]="selectedRestaurant.longitude"
          [zoom]="mapZoomLevel">
          <agm-marker [latitude]="selectedRestaurant.latitude" [longitude]="selectedRestaurant.longitude">
            <agm-info-window [isOpen]="true">
              <div>
                <h6>{{selectedRestaurant.name}}</h6>
                <strong>{{selectedRestaurant.categoryName}}</strong>
              </div>
            </agm-info-window>
          </agm-marker>
        </agm-map>
      </div>
    </div>
  </div>
  </div>
  <ng-template #noRestaurantFound>
    <div class="row d-flex justify-content-center m-3">
      <div class="col-sm-8 text-center">
        <span>Sorry! Failed too find a restaurat for you today.</span>
      </div>
    </div>
  </ng-template>