.restaurant-list{
    .list-order{
        color: #737882;
        padding-left: 0;
        .list-group-item{
            -webkit-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
            position: relative;
            cursor: pointer;
            &:hover {
                -webkit-transform: translateY(-2px);
                -ms-transform: translateY(-2px);
                transform: translateY(-2px);
                -webkit-box-shadow: 0px 3px 40px 0 rgba(39, 39, 39, 0.3);
                box-shadow: 0px 3px 40px 0 rgba(39, 39, 39, 0.3);
            }
        }
   
        .icon-wrapper img{
            background-color: #ff690f;
        }
    }
    .map-fix {
        position: fixed;
        top: 55px;
        right: 0;
        bottom: 0;
        width: 41.666667%;
        height: 100vh;
    }
}
@media (max-width: 768px) {
    .map-fix {
        position: relative!important;
        width: 100%!important;
    }
}