<div class="restaurant-list">
  <div class="row d-flex">
    <div class="col-md-7 col-sm-12 p-0">
      <restaurant-search (searchQuery) = "onGettingSearchQuery($event)"></restaurant-search>
      <h6 class="text-dark p-2">{{restaurantList.length}} result(s) found</h6>
      <div class="list-order" *ngIf="restaurantList.length > 0">
        <div class="list-group-item" *ngFor="let restaurant of restaurantList" (mouseenter)="onMouseEnter(restaurant)" (mouseleave)="onMouseLeave(restaurant)">
          <div class="d-flex flex-row  mb-3 justify-content-start">
            <div class="p-2 icon-wrapper">
              <img class="img-thumbnail" [src]="restaurant?.categoryIcon" alt="category icon">
            </div>
            <div class="p-2  d-flex flex-column">
              <h4 class="restaurant-name text-dark">{{restaurant?.name}}</h4>
              <div class="restaurant-category">
                <i class="fa fa-cutlery text-dark"></i> {{restaurant?.categoryName}}
              </div>
              <div class="distance ">
                  Just <span class="text-primary">{{restaurant?.distance}}m</span> from <i class="fa fa-map-marker text-primary"></i>
                </div>
              <div class="address">
                <i class="fa fa-map-marker text-dark"></i> <span> {{restaurant?.address}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5 col-sm-12 p-0" >
      <div class="map-fix" #map>
        <agm-map [style.height.px]="map.offsetHeight" [latitude]="currentLatitude" [longitude]="currenLongitude" [zoom]="15">
          <ng-container *ngFor="let restaurant of restaurantList">
            <agm-marker [latitude]="restaurant?.latitude" [longitude]="restaurant?.longitude" >
              <agm-info-window [isOpen]="restaurant?.isOpenMapWindow">
                <div>
                  <h6>{{restaurant?.name}}</h6>
                  <strong>{{restaurant?.categoryName}}</strong>
                </div>
              </agm-info-window>
            </agm-marker>
          </ng-container>
        </agm-map>
      </div>
    </div>
  </div>
</div>